<!DOCTYPE html>
<html>
    <head>
        <title><%= (school) ? (school.name + " - ") : "" %>Spam Queue</title>
        <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
        <link rel="stylesheet" href="/css/moderator.css">
        <link rel="stylesheet" href="/css/schools.css">

        <script type="text/javascript">
          window.school = <%- (school) ? ("'" + school.id + "'") : "null"  %>
        </script>

        <script type="text/javascript" src="//code.jquery.com/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="/javascript/moment.js"></script>
        <script type="text/javascript" src="/javascript/schools.js"></script>
        <script type="text/javascript" src="/javascript/spam.js"></script>
        <script type="text/javascript" src="/javascript/particles.js"></script>
    </head>
    <body>
      <div class="container">
        <div class="header">Spam Queue</div>
        <div class="inner-container">
          <% if(school) { %>
            <div class="filtered-school">
              Filtered confessions for <strong><%= school.name %></strong>
            </div>
          <% } %>
          <div class="loading">Loading spam confessions</div>
          <div class="posts"></div>
        </div>
      </div>
      <canvas id="canvas"></canvas>
      <input class="csrf" type="hidden" value="<%= csrf %>"/>
      <div class="corner-links">
        <div class="link school-button">
          <strong><%- (school) ? school.name : "All Schools" %></strong>
        </div>
        <% if(school) { %>
          <a class="link" href="/moderator/<%= school.slug %>/writer">New Post</a>
        <% } %>
        <a class="link" href="/moderator<%= (school) ? ("/" + school.slug) : "" %>">Confessions</a>
      </div>
      <div class="school-popup">
        <div class="popup-darkener"></div>
        <div class="popup-container">
          <div class="popup-header">
            <div class="popup-title">Choose College</div>
            <div class="popup-close">Cancel</div>
          </div>
          <div class="popup-schools">
            <a class="popup-school" href="/moderator/spam">All Schools</a>
            <% schools.forEach(function(school) { %>
              <a class="popup-school" href="/moderator/<%= school.slug %>/spam"><%= school.name %></a>
            <% }) %>
          </div>
        </div>
      </div>
    </body>
</html>
