	<canvas id="canvas"></canvas>
	<a class="logo" href="/">
		<img src="/images/logo_white.png"/>
	</a>
	<% if(admin) { %>
	  <div class="corner-links">
		  <div class="link school-button">
		    <strong><%- (school) ? school.name : "All Schools" %></strong>
		  </div>
		  <% if(school && template != "confession/index") { %>
		    <a class="link" href="/moderator/<%= school.slug %>/writer">New Post</a>
		  <% } %>
		  <% if(template != "moderator/index") { %>
		  	<a class="link" href="/moderator/<%= (school) ? (school.slug + "/") : "" %>">Confessions</a>
		  <% } %>
		  <% if(template != "moderator/spam") { %>
		  	<a class="link" href="/moderator/<%= (school) ? (school.slug + "/") : "" %>spam">Spam</a>
		  <% } %>
		  <% if(template != "search/index") { %>
		  	<a class="link" href="/search">Search</a>
		  <% } %>
		  <a class="link" href="/moderator/logout">Logout</a>
		</div>
	  <div class="school-popup">
	    <div class="popup-darkener"></div>
	    <div class="popup-container">
	      <div class="popup-header">
	        <div class="popup-title">Choose College</div>
	        <div class="popup-close">Cancel</div>
	      </div>
	      <div class="popup-schools">
	        <a class="popup-school" href="/moderator/">All Schools</a>
	        <% schools.forEach(function(school) { %>
	          <a class="popup-school" href="/moderator/<%= school.slug %>"><%= school.name %></a>
	        <% }) %>
	      </div>
	    </div>
	  </div>
	<% } %>
	</body>
</html>
