<%
var title = "", description = ""

if(template == "home/index") {
	title = "Join the Beta"

} else if(template == "confession/index") {
	title = school.name + " - Post to Confessions"

} else if(template == "moderator/index") {
	title = "Confessions Queue"

} else if(template == "moderator/spam") {
	title = "Spam Queue"
} else if(template == "search/index") {
	title = "Search Confessions"
}
%>

<!-- Base Meta Tags -->
<title><%= title %></title>
<meta name="description" content="<%= description %>">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta charset="utf-8">

<!-- Open Graph Meta Tags -->
<meta property="og:locale" content="en_us">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= url %>">
<meta property="og:image" content="/images/logo.png">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= description %>">
<meta property="og:site_name" content="Juicy"/>

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="<%= title %>">
<meta itemprop="description" content="<%= description %>">
<meta itemprop="image" content="/images/logo.png">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:domain" content="<%= host %>">
<meta name="twitter:title" content="<%= title %>">
<meta name="twitter:description" content="<%= description %>">
<meta name="twitter:image:src" content="/images/logo.png">

<!-- Robot Meta Tags -->
<meta name="robots" content="INDEX, FOLLOW">
<meta name="revisit-after" content="1 day">
<meta name="distribution" content="web">
<meta name="robots" content="index, follow">

<!-- Favicon ICO -->
<link rel="shortcut icon" href="/images/favicon.png" />
<link rel="icon" type="image/png" href="/images/logo.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/logo.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/logo.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/images/logo.png">
